* {
  font-family: Open Sans, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #C2B2B4;
}

header {
  background-color: #3E2A35;
  display: flex;
  justify-content: space-between;
}

.display-mode-none {
  display: none;
}

.page-title-foto {
  color: #FFFFFF;
  font-weight: 800;
  padding-left: 20px;
  margin-top: 10px;
}

.page-title-finder {
  color: #FFFFFF; 
  font-weight: 800;
}

.site-logo {
  height: 50px;
  width: 50px;
  padding: 0px 10px;
  margin-bottom: -10px;
}

.search-form {
  display: flex;
  padding: 25px;
  height: 30px;
  width: 260px;
}

#search-input {
  border-radius: 5px 0px 0px 5px;
  border: none;
  color: #8A8494;
  width: 100%;
  padding-left: 5px;
}

.search-button {
  background-color: #C2C1C0;
  border-radius: 0px 5px 5px 0px;
  border: none;
}

.search-button:hover {
  cursor: pointer;
}

.fa-search {
  color: #FFFFFF;
  padding: 6px;
}

.entry-section {
  background-color: #3E2A35;
  padding-top: 20px;
}

.labels {
  color: #c2b2b4;
  font-weight: 600;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 0 auto;
  margin-top: 16px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  height: 35px;
  margin-top: -14px;
  color: #FFFFFF;
  background-color: #5B4447;
  border: none;
  text-align: center;
  outline: none;
  font-weight: 600;
  width: 74%;
  padding-top: 14px;
}

#title-input,
#caption-input {
  border: solid 1px #d4d2d8;
  border-radius: 2px;
  height: 38px;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 74.5%;
  margin: 0 auto;
  font-weight: 800;
  margin-top: 40px;
  align-items: center;
  padding-top: 13px;
}

.row-buttons {
  display: flex;
  flex-direction: row;
  width: 78%;
  margin: 0 auto;
  justify-content: space-between;
}

#favorite-button,
#add-button {
  height: 45px;
  margin-bottom: 35px;
  color: #FFFFFF;
  background-color: #5B4447;
  border: none;
  width: 250px;
  margin-left: 15px;
  outline: none;
  font-weight: 600;
}

#add-button {
  margin-right: 14px;
}

.choose-button:hover,
#favorite-button:hover,
#add-button:hover  {
  background-color: #938284;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #938284;
  cursor: pointer;
}

/* cards */

.card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-content, 
.card-bottom {
  margin-left: 60px;
}

.card-title {
  color: #3E2A35;
  padding: 5px 10px;
  font-size: 18px;
  overflow: hidden;
}

.card-caption {
  height: 70px;
  color: #3E2A35;
  padding: 5px 10px;
  overflow: hidden;
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 220px;
  margin-top: 40px;
  border-right: 2px solid #938284;
  border-left: 2px solid #938284;
  border-top: 2px solid #938284;
}

.card-bottom {
  background-color: #5B4447;
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 20px;
  margin-bottom: 40px;
  border-bottom: 2px solid #938284;
  border-right: 2px solid #938284;
  border-left: 2px solid #938284;
}

h2 {
  background-color: #FFFFFF;
}

h4 {
  background-color: #FFFFFF;
}

.card-icon {
  height: 32px;
  width: 32px;
}

.card-icon:hover {
  cursor: pointer;
}

.card-image {
 object-fit: fill;
 width:  100%;
 height: 150px;
 background-repeat: no-repeat;
}

@media only screen and (max-width: 620px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-form {
    width: 80%;
  }
  .inputs {
    width: 80%;
  }
  .buttons {
    width: 80%;
    font-size: 13px;
  }
  .inputfile + label {
    width: 100%;
  }
  .row-buttons {
    width: 108%;
    margin: 0px;
  }
}



